/* UNIVERSAL STYLES */

body {
    margin: 0;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 a {
    font-size: 16px;
    font-weight: normal;
    color: aquamarine;
}

p {
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
    color: gray;
    padding-right: 10px;
}